.container {
  max-width: 38rem;
  margin: 2rem auto;
  display: grid;
  gap: 0.25rem;
}

.emptyState {
  place-self: center;
}

.tankCard {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid var(--color-dark);
  background-color: var(--color-light-glare);
}

.tankCard::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.75rem;
}

.tankCard[data-status="empty"]::before {
  background-color: var(--color-empty);
}

.tankCard[data-status="fermenting"]::before {
  background-color: var(--color-fermenting);
}

.tankCard[data-status="aging"]::before {
  background-color: var(--color-aging);
}

.tankCard[data-status="ready"]::before {
  background-color: var(--color-ready);
}

.cardInfo {
  flex-grow: 1;
  padding: 1.5rem;
}

.editLink {
  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
  height: 100%;
  border-left: 1px solid var(--color-dark);
  border-right: 1px solid var(--color-dark);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.editLink:hover {
  background-color: var(--color-primary-shade);
}

.deleteButton {
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-left: 1px solid var(--color-dark);
  padding: 1.5rem;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
    background-color: var(--color-secondary-shade);
}

.editLink:focus,
.deleteButton:focus {
    outline: 2px solid var(--color-dark);
    outline-offset: -2px;
}
