@font-face {
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Instrument_Sans.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("/fonts/Karla.woff2") format("woff2-variations");
}

/* ------------------------ */
/* Reset                    */
/* ------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ------------------------ */
/* Globals                  */
/* ------------------------ */

html {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  color: var(--color-dark);
  background-color: var(--color-light);
}

input {
  padding: 0.25rem;
  font-family: inherit;
}

input:focus {
  outline: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

button,
select {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--color-dark);
  padding: 0.25rem;
}

select {
  background-color: white;
  padding-inline: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --color-dark: #161925;
  --color-dark-glare: #22273a;
  --color-dark-shade: #0e1017;
  --color-light: #edece4;
  --color-light-glare: #f4f3ef;
  --color-light-shade: #b4b3ad;
  --color-primary-glare: #22aaa1;
  --color-primary: #298a83;
  --color-primary-shade: #1f6d67;
  --color-secondary: #d86764;
  --color-secondary-glare: #f67672;
  --color-secondary-shade: #bc5b58;
  --color-fermenting: #0c7c59;
  --color-empty: #087ca7;
  --color-ready: #d64933;
  --color-aging: #f17f29;
}
